<% if user_signed_in? %>

    <div class="container">
      <div class="row">
        <%= form_tag root_path, method: :get, class: "form-inline pull-right" do %>


            <div class="form-group">
              <div class="input-group input-large">
                <%= date_field 'search_start_period','', class: "form-control", required:true %>
                <span class="input-group-addon">To</span>
                <%= date_field 'search_end_period','', class: "form-control",required:true %>
              </div>
            </div>


            <div class="form-group">
              <%= submit_tag 'Search', class: "btn btn-md"%>
            </div>
        <% end %>
      </div>
    </div>

    <% if @actions.empty? %>
        <div>No actions</div>
    <% else %>


        <div class="container" style="margin-top: 20px">
          <div class="row">
            <table class="table table-striped">
              <tr>
                <th>Amount</th>
                <th>Label</th>
                <th>Category</th>
                <th>Date</th>
                <th></th>
                <th></th>
              </tr>
              <% @actions.each do |a| %>
                  <tr class=<% if a.income? %>"success"<% end %>>
                    <td><% if a.income? %>+<% else %>-<% end %> <%= a.amount %></td>
                    <td><%= a.label %></td>
                    <td><%= a.category_title %></td>
                    <td width="200"><%= a.created_at %></td>
                    <td width="50"><%= link_to " Edit ", edit_act_path(a) %></td>
                    <td width="50"><%= link_to " Delete ", act_path(a), method: :delete %></td>
                  </tr>
              <% end %>
            </table>
          </div>
        </div>







    <% end %>

    <%else%>

<!-- Landing-->
<div class="container theme-showcase" role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <h1>Welcome!</h1>
    <p>Manage the incomes and expenses effectively!</p>
    <p><%= link_to 'Try now', new_user_session_path, {:class => 'btn btn-lg btn-primary'} %></p>
  </div>
</div>
<% end %>
