<h1>Update Category</h1>

<%= form_for @category do |f|%>
    <div class="modal-body">

      <div class="form-group">
        <p><%= f.text_field :title, class: 'form-control',placeholder: 'Title' %></p>
        <%= f.hidden_field :income %>
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit "Update", class: 'btn btn-primary'%>
    </div>
<% end %>
