<h1>Categories</h1>

<% if @categories.empty? %>
    <div>No categories</div>
<% else %>
    <table class="table table-striped">
      <tr>
        <th>Title</th>
        <th>Date</th>
        <th></th>
        <th></th>
      </tr>
      <% @categories.each do |c| %>
          <tr class=<% if c.income? %>"success"<% end %>>
            <td><%= c.title %></td>
            <td width="200"><%= c.created_at %></td>
            <td width="50"><%= link_to " Edit ", edit_category_path(c) %></td>
            <td width="50"><%= link_to " Delete ", category_path(c), method: :delete %></td>
          </tr>
      <% end %>
    </table>

<% end %>

