<!DOCTYPE html>
<html>
<head>
  <title>Income/Expence Tracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>


<!-- Fixed navbar -->
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Income/Expence Tracker</a>
    </div>
    <div class="navbar-collapse collapse">
      <% if user_signed_in? %>
        <ul class="nav navbar-nav">
          <li><a href="/categories">Manage Categories</a></li>
        </ul>
      <% end %>
      <div class="pull-right" style="margin-top: 8px;">
        <% if user_signed_in? %>
            <span class="login_email"><%= current_user.email %></span>
            <%= link_to 'Log out', destroy_user_session_path,  {:class => 'btn btn-md btn-danger',:method => :delete}  %>
        <% else %>
            <%= link_to 'Log in', new_user_session_path, {:class => 'btn btn-md btn-danger'} %>
            <%= link_to 'Create an account', new_user_registration_path, {:class => 'btn btn-md btn-danger'}  %>
        <% end %>
      </div>
    </div><!--/.nav-collapse -->

  </div>
</div>

<div class="container">
  <div class="row">

    <% if user_signed_in? %>
      <div class="col-sm-8">

        <!-- Button trigger modal -->
        <button class="btn btn-success btn-md" data-toggle="modal" data-target="#addIncomeModal">
          ADD INCOME
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addIncomeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-uppercase" id="myModalLabel">Add Income</h4>
              </div>
              <%= form_for Act.new, {:class => 'x'} do |f|%>
              <div class="modal-body">

                    <div class="form-group">
                      <p><%= f.number_field :amount, class: 'form-control',placeholder: 'Amount' %></p>
                      <p><%= f.text_field :label,class: 'form-control',placeholder: 'Label' %></p>
                      <%= f.hidden_field :income, value: true %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <p>
                        <label>Select a category</label>
                        <%= f.collection_select(:category_id, @income_categories, :id, :title, {allow_blank: "Select a category"}, {class: "form-control"}) %>
                      </p>
                    </div>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <%= f.submit "Add", class: 'btn btn-primary'%>
              </div>
              <% end %>
            </div>
          </div>
        </div>

        <!-- Button trigger modal -->
        <button class="btn btn-danger btn-md" data-toggle="modal" data-target="#addExpenceModal">
          ADD EXPENCE
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addExpenceModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-uppercase" id="myModalLabel">Add Expence</h4>
              </div>
              <%= form_for Act.new do |f|%>
                  <div class="modal-body">

                    <div class="form-group">
                      <p><%= f.number_field :amount,class: 'form-control',placeholder: 'Amount' %></p>
                      <p><%= f.text_field :label,class: 'form-control',placeholder: 'Label' %></p>
                      <%= f.hidden_field :income, value: false %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                      <p>
                        <label>Select a category</label>
                        <%= f.collection_select(:category_id, @expence_categories, :id, :title, {allow_blank: "Select a category"}, {class: "form-control"}) %>
                      </p>
                    </div>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <%= f.submit "Add", class: 'btn btn-primary'%>
                  </div>
              <% end %>
            </div>
          </div>
        </div>


        <button class="btn btn-md btn-link text-uppercase" data-toggle="modal" data-target="#addIncomeCategoryModal">
          ADD INCOME CATEGORY
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addIncomeCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-uppercase" id="myModalLabel">Add income Category</h4>
              </div>
              <%= form_for Category.new do |f|%>
                  <div class="modal-body">

                    <div class="form-group">
                      <p><%= f.text_field :title, class: 'form-control',placeholder: 'Title' %></p>
                      <%= f.hidden_field :income, value: true %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <%= f.submit "Add", class: 'btn btn-primary'%>
                  </div>
              <% end %>
            </div>
          </div>
        </div>

        <button class="btn btn-md btn-link text-uppercase" data-toggle="modal" data-target="#addExpenceCategoryModal">
          ADD EXPENCE CATEGORY
        </button>

        <!-- Modal -->
        <div class="modal fade" id="addExpenceCategoryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title text-uppercase" id="myModalLabel">Add Expence Category</h4>
              </div>
              <%= form_for Category.new do |f|%>
                  <div class="modal-body">

                    <div class="form-group">
                      <p><%= f.text_field :title, class: 'form-control',placeholder: 'Title' %></p>
                      <%= f.hidden_field :income, value: false %>
                      <%= f.hidden_field :user_id, value: current_user.id %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <%= f.submit "Add", class: 'btn btn-primary'%>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div><!-- /.col-sm-6 -->
        <div class="col-sm-4 ">
          <div class="btn btn-lg pull-right">Balance: <%= $balance %></div>
        </div><!-- /.col-sm-6 -->

    <div class="clearfix"></div>


    <% end %>

      <%= yield %>

  </div>
</div>


</body>
</html>
