<h1>Update Action</h1>

<%= form_for @current_action do |f|%>
    <div class="modal-body">

      <div class="form-group">
        <p><%= f.number_field :amount,class: 'form-control',placeholder: 'Amount' %></p>
        <p><%= f.text_field :label,class: 'form-control',placeholder: 'Label' %></p>
        <%= f.hidden_field :income%>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <p>
          <%= f.collection_select(:category_id,  @categories, :id, :title, {prompt: "Select a category"}, {class: "form-control"}) %>
        </p>
      </div>

    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
      <%= f.submit "Update", class: 'btn btn-primary'%>
    </div>
<% end %>
