
<% if @actions.empty? %>
    <div>No actions</div>
<% else %>
    <table>
      <tr>
        <th>id</th>
        <th>Amount</th>
        <th>Label</th>
        <th>Category</th>
        <th></th>
        <th></th>
      </tr>
      <% @actions.each do |a| %>
          <tr>
            <td><%= link_to a.id, act_path(a) %></td>
            <td><%= a.amount %></td>
            <td><%= a.label %></td>
            <td><%= a.category_title %></td>
            <td><%= link_to " Edit ", edit_act_path(a) %></td>
            <td><%= link_to " Delete ", act_path(a), method: :delete %></td>
          </tr>
      <% end %>
    </table>

<% end %>

